doctype html
html
    head
        title Hi!
        style
          include style.css
    body
        include ./header.pug
        div.container
            h1 Welcome on site where you can manage your account
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et lobortis nisl, sed ullamcorper ante. Sed vitae metus elementum, ultrices elit vitae, suscipit nibh. Fusce mattis eros eu interdum dapibus. Nam a purus vitae elit tristique bibendum id vel metus. Fusce laoreet sodales nisi. Fusce sollicitudin ac nisl eu ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam vitae enim mi. Sed pretium pulvinar ipsum vitae sodales. Etiam convallis, nisi et tristique imperdiet, nunc lectus tincidunt turpis, et ornare nibh libero eget eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eleifend rutrum massa, pellentesque aliquam elit volutpat eget.		